body {
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
}
.panel{
    background-color: antiquewhite;
    background-size: cover;
    border-radius: 20px;
    display:flex;
    flex-direction: column;
    text-align: left;
    align-items: center;
    justify-content: center;
    width: 40%;
    height:160vh;
    line-height: 50px;
}

h2{
   text-align:center;
}


.gap{
    display: inline-block;
    width: 150px;
}